# ==================
# Project definition
# ==================

# Derived from https://peps.python.org/pep-0621/

[build-system]
build-backend = "setuptools.build_meta"
requires = [
  "setuptools>=42", # At least v42 of setuptools required.
  "versioningit",
]

[tool.versioningit.vcs]
method = "git"
default-tag = "0.0.0"

[project]
name = "mlflow-cratedb"
description = "MLflow adapter for CrateDB"
readme = "README.md"
requires-python = ">=3.8"
license = {text = "Apache License 2.0"}
keywords = [
  "cratedb",
  "machine learning",
  "ml-ops",
  "mlflow",
  "mlflow-tracking",
  "mlops",
]
authors = [
  {name = "Andreas Motl", email = "andreas.motl@crate.io"},
]
classifiers = [
  "Development Status :: 1 - Planning",
  "Environment :: Console",
  "Intended Audience :: Customer Service",
  "Intended Audience :: Developers",
  "Intended Audience :: Education",
  "Intended Audience :: Information Technology",
  "Intended Audience :: Telecommunications Industry",
  "License :: OSI Approved :: Apache Software License",
  "Operating System :: MacOS :: MacOS X",
  "Operating System :: POSIX :: Linux",
  "Operating System :: Unix",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3 :: Only",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Topic :: Communications",
  "Topic :: Education",
  "Topic :: Software Development :: Libraries",
  "Topic :: Utilities",
]

dynamic = [
  "version",
]

dependencies = [
  "crash",
  "crate[sqlalchemy]",
  "mlflow==2.6",
  "sqlparse<0.5",
  "vasuki<1,>=0.4",
]

[project.optional-dependencies]
develop = [
  "black<24",
  "mypy==1.5.1",
  "poethepoet<1",
  "pyproject-fmt<1.2",
  "ruff==0.0.287",
  "validate-pyproject<0.15",
]
release = [
  "build<2",
  'minibump<1; python_version >= "3.10"',
  "twine<5",
]
test = [
  "coverage<8",
  "pytest<8",
]
[project.scripts]
mlflow-cratedb = "mlflow_cratedb.cli:cli"
[project.entry-points."mlflow.app"]
mlflow-cratedb = "mlflow_cratedb.server:app"
[tool.setuptools]
# https://setuptools.pypa.io/en/latest/userguide/package_discovery.html
packages = ["mlflow_cratedb"]

[project.urls]
changelog = "https://github.com/crate-workbench/mlflow-cratedb/blob/main/CHANGES.md"
documentation = "https://github.com/crate-workbench/mlflow-cratedb"
homepage = "https://github.com/crate-workbench/mlflow-cratedb"
repository = "https://github.com/crate-workbench/mlflow-cratedb"
[tool.black]
line-length = 120

extend-exclude = "tests/test_tracking.py"

[tool.isort]
profile = "black"
skip_glob = "**/site-packages/**"
skip_gitignore = false

[tool.pytest.ini_options]
minversion = "2.0"
addopts = """
  -rfEX -p pytester --strict-markers --verbosity=3
  """
log_level = "DEBUG"
log_cli_level = "DEBUG"
testpaths = ["tests"]
xfail_strict = true
markers = [
  "notrackingurimock",
  "slow",
]

[tool.coverage.run]
branch = false
source = ["mlflow_cratedb"]

[tool.coverage.report]
fail_under = 0
show_missing = true
omit = [
]

[tool.mypy]
packages = ["mlflow_cratedb"]
exclude = [
]
check_untyped_defs = true
ignore_missing_imports = true
implicit_optional = true
install_types = true
no_implicit_optional = true
non_interactive = true
show_error_codes = true
strict_equality = true
warn_unused_ignores = true
warn_redundant_casts = true

[tool.ruff]
line-length = 120

select = [
  # Bandit
  "S",
  # Bugbear
  "B",
  # Builtins
  "A",
  # comprehensions
  "C4",
  # eradicate
  "ERA",
  # flake8-2020
  "YTT",
  # isort
  "I",
  # pandas-vet
  "PD",
  # print
  "T20",
  # Pycodestyle
  "E",
  "W",
  # Pyflakes
  "F",
  # return
  "RET",
]

extend-exclude = [
]


[tool.ruff.per-file-ignores]
"tests/*" = ["S101"]  # Use of `assert` detected


# ===================
# Tasks configuration
# ===================

[tool.poe.tasks]
format = [
  { cmd = "black ." },
  # Configure Ruff not to auto-fix (remove!):
  # Ignore unused imports (F401), unused variables (F841), `print` statements (T201), and commented-out code (ERA001).
  { cmd = "ruff --fix --ignore=ERA --ignore=F401 --ignore=F841 --ignore=T20 --ignore=ERA001 ." },
  { cmd = "pyproject-fmt pyproject.toml" },
]

lint = [
  { cmd = "ruff ." },
  { cmd = "black --check ." },
  { cmd = "validate-pyproject pyproject.toml" },
  { cmd = "mypy" },
]
test = [
  { cmd = "pytest" },
]
test-fast = [
  { cmd = "pytest -m 'not slow'" },
]
build = { cmd = "python -m build" }
check = ["lint", "test"]
check-fast = ["lint", "test-fast"]

release = [
  { cmd = "minibump bump --relax patch" },
  { cmd = "python -m build" },
  { cmd = "twine upload --skip-existing dist/*.tar.gz dist/*.whl" },
]
