# CrateDB
CRATEDB_VERSION=6.2.4
CRATEDB_USER=crate
CRATEDB_PASSWORD=crate
CRATEDB_SCHEMA=mlflow

# S3 Credentials
AWS_ACCESS_KEY_ID=s3admin
AWS_SECRET_ACCESS_KEY=s3admin
AWS_DEFAULT_REGION=us-east-1

# RustFS
RUSTFS_VERSION=1.0.0-alpha.90
RUSTFS_CONSOLE_ENABLE=true
S3_BUCKET=mlflow

# MLflow
MLFLOW_VERSION=3.10.1
MLFLOW_HOST=0.0.0.0
MLFLOW_PORT=5000

MLFLOW_BACKEND_STORE_URI=crate://${CRATEDB_USER}:${CRATEDB_PASSWORD}@cratedb:4200/?schema=${CRATEDB_SCHEMA}
MLFLOW_ARTIFACTS_DESTINATION=s3://${S3_BUCKET}
MLFLOW_S3_ENDPOINT_URL=http://storage:9000
